/* Header.module.css */
.navbar {
  padding: 16px;
  border-bottom: 2px solid #e2e2e2;
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
}

.navLinks {
  display: flex;
  gap: 24px;
  margin-left: auto;
  align-items: center;
}

.link {
  text-decoration: none;
  font-weight: 600;
  color: #666;
}

.link:hover {
  color: #333;
}

.connectButton {
  margin-left: 16px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoText {
  margin-left: 0.5rem;
  display: flex;
}
