.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  margin-top: 35px;
  color: #888;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-family: "Montserrat", sans-serif;
}

.title a {
  color: #0070f3;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
}

.title,
.description {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: "Montserrat", Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  font-family: "Montserrat", sans-serif;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  font-family: "Montserrat", sans-serif;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 15px;
  width: 100%;
  max-width: 500px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
}

.form-container label {
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}

.form-container input,
.form-container textarea,
.form-container button {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
}

.form-container button {
  background-color: #0070f3;
  color: white;
  cursor: pointer;
  border: none;
  font-weight: bold;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.form-container button:hover {
  background-color: #005bb5;
}

.map-container {
  width: 100%;
  height: 40rem;
  padding: 20px;
  padding-right: 10px;
  z-index: 0;
  font-family: "Montserrat", sans-serif;
}

.input-container {
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
}

.proposal-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  max-width: 100%;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

#form-submit {
  background-color: #0070f3;
  color: white;
  cursor: pointer;
  border: none;
  font-weight: bold;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}

.hero {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

.hero p {
  font-size: 1.2rem;
  color: #666;
  font-family: "Montserrat", sans-serif;
}

.totalSupplyBox {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
}

.totalSupplyBox h2 {
  margin: auto;
  font-size: 1.5em;
  color: #333;
}

.totalSupplyBox p {
  font-size: 1.2em;
  color: #555;
}
