.container {
  padding: 0 2rem;
  font-family: "Montserrat", sans-serif;
}

.proposalButton {
  max-width: fit-content;
  margin-left: auto;
  /* margin-right: auto; */
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 20px; */
  font-family: "Montserrat", sans-serif;
}
.filterAndButton {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filterContainer {
  display: flex-inline;
  align-items: center;
  gap: 10px;
}

.filterContainer label {
  font-size: 16px;
  font-weight: 500;
  margin-right: 8px;
}

.filterTitle {
  font-size: 16px;
  font-weight: 500;
  margin-right: 8px;
  margin-bottom: 10px;
  color: #333;
  font-family: "Montserrat", sans-serif;
}
.filterDropdown {
  width: 300px;
}

/* .filterDropdown .filter__control {
  border-radius: 8px;
  border: 1px solid #d1d5db;
  padding: 5px;
  font-size: 14px;
}

.filterDropdown .filter__control:hover {
  border-color: #2563eb;
  box-shadow: 0 0 5px rgba(37, 99, 235, 0.5);
}

.filterDropdown .filter__multi-value {
  background-color: #eff6ff;
  border-radius: 4px;
}

.filterDropdown .filter__multi-value__label {
  font-size: 14px;
  color: #1d4ed8;
}

.filterDropdown .filter__multi-value__remove {
  color: #1d4ed8;
  cursor: pointer;
}

.filterDropdown .filter__menu {
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
} */

.filterDropdown .filter__option {
  display: flex; /* Use flexbox to align emoji and text */
  align-items: center; /* Vertically center emoji and text */
  gap: 8px; /* Add space between emoji and text */
  padding: 8px 12px; /* Adjust padding for better spacing */
  font-size: 14px; /* Ensure consistent font size */
  font-family: "Montserrat", sans-serif;
  cursor: pointer; /* Add a pointer cursor for better UX */
}

.filterDropdown .filter__option--is-focused,
.filterDropdown .filter__option--is-selected {
  background-color: #eff6ff; /* Highlight background */
  color: #1d4ed8; /* Highlight text color */
}

.filterDropdown .filter__option:hover {
  background-color: #e0f2fe; /* Slightly darker hover color */
}

.filterDropdown .filter__single-value {
  display: flex; /* Align emoji and selected text */
  align-items: center;
  gap: 8px;
}

.filterDropdown .filter__multi-value {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #eff6ff;
  border-radius: 4px;
  padding: 4px;
}

.filterDropdown .filter__multi-value__label {
  margin-left: 4px; /* Space after the emoji in multi-select */
}
