/* ProposalsTable.module.css */
.container {
  background-color: #fff;
  border-radius: 8px;
  margin: 30px auto;
  font-family: "Montserrat", sans-serif;
}

.tableTitle {
  font-size: 1.6rem;
  color: #666;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
